body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: hotpink;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: dotted 10px purple;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  color: green;
  text-decoration: none;
}

ul {
  background-color: #eeeeee;
  border: 5px;
  padding: 5vh;
  border: solid 3px purple;
}
